{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Rango
{% endblock %}

{% block body_block %}
<h1>Rango says...</h1>
<div>
Rango says here is the about page. <br />
<strong>{{ boldmessage }}</strong><br />
This tutorial was put together by Daniel.
</div>
<div>
<img src="{% static "images/cat.jpg" %}"
alt="Picture of Cat" /> <!-- New line -->
<img src="{{ MEDIA_URL }}cat.jpg"
alt="Picture of another Cat" /> <!-- New line -->
<p>visits: {{ visits }}</p>
</div>
{% endblock %}